* {
padding: 0;
margin: 0;
box-sizing: border-box;
}
body {
  background-color: rgb(191, 162, 219);
}
.card {
  width: 440px;
  margin: 100px auto;
  border-radius: 20px;
  background-color: rgb(228, 195, 243);
  padding: 19px;
}
.card:hover
{
  box-shadow: 0 0 15px #0e0e0e;
}
.card img {
  width: 400px;
 border-radius: 20px 20px 20px 20px;
}
.card h3 {
  margin-bottom: 10px ;
  font-size: 30px;
  font-size:  italic;
  text-align: center;
}
.card p {
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
}
.card button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(223, 116, 182);
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
}
.card span {
  text-align: center;
  font-size: 20px;
  display: block;
  font-weight: bold;
  font-family: Arial;
}
.card price {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.card sale {
text-decoration: none;
color: blue;
}